<div id='upper_footer_wrapper'>
  <div class='footer_info'>
    <div class="one_third" >
      <h3>Our Mission</h3>
      Our mission is to help you make your surroundings as great as they can be and to empower the creative people who facilitate that goal.  We brong the power of visualization and simplicity to help you think about how to make your space yours.  We love what we do and hope you will too!
    </div>

    <div class="one_third" >
      <h3>Our Blog</h3>
      <ul>
        <li>Latest & greatest</li>
        <li>Interior designers, decorators and architects. Oh my!</li>
        <li>What make wood furniture quality... or not?</li>
      </ul>
    </div>

    <div class="one_third" >
      <h3>We're on Twitter</h3>
      <ul>
        <li>follow us @style_genius</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <%= render 'shared/main_footer' %>
</div>