<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>


<div id='left_welcome_panel' class='span-12'>
<h2>About Style Genius</h2>
  <p>Style Genius is democratizing home style one room at a time.</p>
  <p>We're here because we've known for a long tie that there's a better way to decorate your home.  Technology, we've thought for a long time should make it easier, cheaper and more fun.  We're here to make what was formerly a challenge into a joy.</p>
  <p>We've got sick technology and a great team of stylists who thrive on making your dreams a reality, instead of just reproducing their personal style.</p>

</div>

<div id='right_welcome_panel' class='span-12 last'>
  <ul>
    <li>
      <h2>Discover</h2>
      Share what you're looking for help with.<br/>
      Decorating? Organizing? Party? It's all here.
    </li>
    <li>
      <h2>Sit Back</h2>
      Let our stylists do some research for you, over a 3-day period.
    </li>
    <li>
      <h2>Done!</h2>
      See your own private showroom and get ready for a major upgrade in your surroundings!
    </li>
  </ul>
  <p>
    At Style Genius we empower you to improve your daily surroundings with completely personal ideas that respect all of your needs, including budget.
  </p>
  <p>
    The best way to get started is to get your style profile by taking <%= link_to 'This Survey.', quizes_get_started_question_url(:done) %>
  </p>
</div>

