<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>


<div id='left_side_panel' class='span-6 last'>
&nbsp;
</div>

<div id='featured_item' class='span-18 last'>
  <p>
    Here at StyleGenius we want to make shopping for new furniture as easy as possible.  We provide the following services:
    <ul>
      <li>
        Our fashion Designers are eager to find you the best styles for your current needs.
        (take our Fashion survey to get started)
      </li>
      <li>
        We allow you to browse our galleries and create custom showrooms of your very own.
        (Login and start filling up your showroom)
      </li>
      <li>
        If you prefer you can just start shopping and you can find your own style!
      </li>
    </ul>
  </p>
</div>

