
<div id='complete-wrapper'>
  <p class='complete'>
    You have completed all the questions for this quiz.  Thank you.
  </p>
</div>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'quiz' %>
<% end %>