<h1> Getting Started </h1>

Welcome to Style Genius!
<p>
  To get to know you better answer our getting started questionnaire.  This will allow us to get to know your style better.  Our designers will also be able to use this information to suggests the best possible product.
</p>

<p><%= link_to "First Question", quizes_get_started_question_path(:next), :class => 'button' %></p>
