<h1> New Question </h1>

<%= form_for @question, :url => quizes_get_started_questions_path(@question) do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Create' , :class => 'button' %></div>
<% end %>

<p><%= link_to "Back to List", quizes_get_started_questions_path, :class => 'button' %></p>
