#upper_footer_wrapper {

  position:relative;
  width:100%;
  font-size:16px;
  height: 17em;
  background:  #F6F9FA;
  text-align: left;
  margin:-17em 0 0;
  padding:5px;

  h3 {
    text-align: center;
  }

  .footer_info {
    margin:0 auto;
    width:1090px;
    .one_third {
      vertical-align: top;
      width:340px;
      display:inline-block;
      padding:10px;
    }
  }
  #footer_wrapper {
    margin:0;
  }
}



#footer_wrapper {
  position:relative;
  bottom:0;
  width:100%;

  font-variant: small-caps;
  font-weight:bold;
  font-size:106%;

  height: 2em;
  // border-bottom: 1px solid #ECECEC;
  // background: image-url("header/bg-header-wrap.png") repeat-x scroll center bottom #FFFFFF;
  text-align: left;
  margin:-2em 0 0;
  padding:0;
  /*margin-top:50px;*/

  li {
    display: inline;
    list-style: none;
    color: #AA5555;
    padding: 3px;
    a {
      color: #828282;
    }
    a:hover {
      color: #AA5555;
    }
    .selected {
      color: #AA5555 !important;
    }
  }
  li:hover {
    color: #AA5555;
  }
}
